
@{
    ViewData["Title"] = "Create";
}
@model GlobalEntity.User;

<div class="card">
    <div class="card-title">
        <h2 class="" style="padding: 15px 15px 0px 38px;">Create/Edit User</h2>
    </div>
    <div class="card-body">
        <div class="card-body">
            <form asp-controller="Users" asp-action="Save" enctype="multipart/form-data" method="post">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>First Name</label>
                            <input id="fname" class="form-control" value="@Model.FirstName" name="FirstName" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input id="lname" class="form-control" value="@Model.LastName" name="LastName" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Profile Photo</label>
                            </div>
                            <div class="col-lg-12">
                                @{
                                    string imgPath = string.Empty;
                                    if (Model.ProfilePhoto != null)
                                    {
                                        imgPath = "data:image/png;base64, " + Model.ProfilePhoto;
                                    }
                                    else
                                    {
                                        imgPath = "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png";
                                    }
                                    string imgURL = Url.Content(imgPath);

                                }
                                <div class="col-lg-12 pl-0">
                                    <img src="@imgURL" name="Image" alt="" border="1" id="olduser" style="border-radius:50%;height:110px;width:120px;margin-right:15px;">
                                    @*<input type="file" id="profile" class="" style="margin: 15px;">*@
                                    <button type="button" class="btn btn-primary" onclick="document.getElementById('profile').click()">
                                        Choose Image
                                    </button>
                                    <input type="file" id="profile" class="form-control imageupload d-none" accept=".jpg,.jpeg,.png" name="UploadImage" onchange="textdisplay(this)">
                                    <textarea id="base64Code" class="d-none" name="ProfilePhoto" rows="15" cols="68"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Gender</label>
                            <input id="Gender" class="form-control" name="Gender" value="@Model.Gender" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Role</label>
                            <select id="role" class="form-control" name="RoleId">
                                @{
                                    var selected = "";
                                    if (Model.RoleId > 0)
                                    {
                                        if (Model.RoleId == 1)
                                        {
                                            <option value="1" selected="selected">Admin</option>
                                        }
                                        else
                                        {
                                            <option value="1">Admin</option>
                                        }
                                        if (Model.RoleId == 2)
                                        {
                                            <option value="2" selected="selected">User</option>
                                        }
                                        else
                                        {
                                            <option value="2">User</option>
                                        }
                                        if (Model.RoleId == 3)
                                        {
                                            <option value="3" selected="selected">Coordinator</option>
                                        }
                                        else
                                        {
                                            <option value="3">Coordinator</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="1">Admin</option>
                                        <option value="2">User</option>
                                        <option value="3">Coordinator</option>
                                    }
                                }

                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group" style="margin">
                            <input id="id" class="form-control d-none" value="@Model.Id" name="Id" />
                            <input type="submit" class="btn btn-success" value="Save" /> <a onclick="backtoList()" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function backtoList() {
        window.location.href = "/Users";
    }
    function textdisplay(element) {
        encodeImgtoBase64(element);
    }
    function encodeImgtoBase64(element) {
        var file = element.files[0];
        var reader = new FileReader();
        reader.onloadend = function () {
            $("#base64Code").val(reader.result);
            $("#convertImg").text(reader.result);
            $("#olduser").attr("src", reader.result);
        }
        reader.readAsDataURL(file);
    }
</script>