@model List<GlobalEntity.User>

<div class="card">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-lg-6">
                <a class="btn btn-success" asp-controller="Users" asp-action="Create">Add New</a>
            </div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
                <select id="role" class="form-control" onchange="filterUser()">
                    <option value="1">Admin</option>
                    <option value="2">User</option>
                    <option value="3">Coordinator</option>
                </select>
            </div>
        </div>


        <div class="card-title">
            <h2>User Listing</h2>
        </div>
        <table class="table table-bordered table-striped">
            <thead class="bg-dark text-white">
                <tr>
                    <td>Profile</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Gender</td>
                    <td>Role</td>
                    @*<td>IsDeleted</td>*@
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center sorting_1 dtr-control">
                            @{
                                string imgPath = string.Empty;
                                if (item.ProfilePhoto != null)
                                {
                                    imgPath = "data:image/png;base64, " + item.ProfilePhoto;
                                }
                                else
                                {
                                    imgPath = "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png";
                                }
                                string imgURL = Url.Content(imgPath);

                            }

                            <img src="@imgURL" name="Image" alt="" border="1" height="70" width="70" style="border-radius:50%">
                        </td>
                        <td>
                            @Html.DisplayFor(itemdisplay => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(itemdisplay => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(itemdisplay => item.Gender)
                        </td>
                        <td>
                            @{
                                string role = "";
                                @if (item.RoleId == 1)
                                {
                                    role = "Admin";
                                }
                                @if (item.RoleId == 2)
                                {
                                    role = "User";
                                }
                                @if (item.RoleId == 3)
                                {
                                    role = "Coordinator";
                                }
                                @Html.DisplayFor(itemdisplay => role)
                            }
                        </td>
                        @*<td>
                                @{
                                    string Deleted = "False";
                                    @if (item.IsDeleted == true)
                                    {
                                        role = "True";
                                    }
                                    @Html.DisplayFor(itemdisplay => Deleted)
                                }
                            </td>*@
                        <td>
                            <a class="btn btn-primary" onclick="edituser(@item.Id)">Edit</a> | <a class="btn btn-danger" onclick="Removeuser(@item.Id)">Remove</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">
    window.onload = function () {
        var url_string = window.location.href;
        var url = new URL(url_string);
        var RoleID = url.searchParams.get("RoleID");
        if (RoleID != this.undefined && RoleID.length > 0) {
            document.getElementById("role").value = RoleID;
        }
    };
    function edituser(id) {
        window.location.href = "/Users/Edit?ID=" + id;
    }
    function Removeuser(id) {
        if (confirm("Do you want to remove User?")) {
            window.location.href = "/Users/Remove?ID=" + id;
        }
    }
    function filterUser() {
        var select = document.getElementById('role');
        var value = select.options[select.selectedIndex].value;
        window.location.href = "/Users/Filter?RoleID=" + value;
    }
</script>